* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --IRIS: #4D5AE5;
    --OCEAN: #404BBF;
    --NAVY-BLUE: #2E2F42;
    --GREEN: #31D0AA;
    --SLATE: #434455;
    --LIGHT-SLATE: #8E8F99;
    --CORNFLOWER: #E7E9FC;
    --CLOUD: #F4F4FD;
    --NAVY-BLUE-MODAL: #2E2F4266;
    --GREY: #2E2F42;
    --WHITE: #FFFFFF;
    --DAIRY: #FCFCFC;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: var(--WHITE);
    color: var(--SLATE);
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    display: block;
}

.list {
    font-style: normal;
    color: var(--SLATE);
    list-style: none;
}

.link {
    text-decoration: none;
}

.link-dark {
    text-decoration: none;
    color: var(--NAVY-BLUE);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ================================ MOBILE ================================== */
@media screen and (max-width: 767px) {
    .body {
        overflow: hidden;
    }

    .container {
        width: 428px;
        margin: 0 auto;
        padding: 0 15px;
    }

    /*==============================STUDIO===============================*/
    /*----------------------HEADER-----------------------*/
    .header {
        border-bottom: 1px solid var(--CORNFLOWER);
        height: 72px;
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    }

    .header-container {
        display: flex;
    }

    .logo {
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-decoration: none;
        color: var(--IRIS);
        text-transform: uppercase;
        margin-top: 25.5px;
    }

    .studio {
        color: var(--NAVY-BLUE)
    }











    


}
  /* ============================= TABLET ============================= */
@media screen and (min-width: 768px) {
    /* cały kod */
}
  /* ========================= NOT DESKTOP ====================== */
@media screen and (max-width: 1157px) {
    .about-us-svg {
        display: none;
    }
}
  /* ============================== DESKTOP =========================== */
@media screen and (min-width: 1158px) {
    /* co jest potrzebne dla desktopu */
}