* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --IRIS: #4D5AE5;
    --OCEAN: #404BBF;
    --NAVY-BLUE: #2E2F42;
    --GREEN: #31D0AA;
    --SLATE: #434455;
    --LIGHT-SLATE: #8E8F99;
    --CORNFLOWER: #E7E9FC;
    --CLOUD: #F4F4FD;
    --NAVY-BLUE-MODAL: #2E2F4266;
    --GREY: #2E2F42;
    --WHITE: #FFFFFF;
    --DAIRY: #FCFCFC;
    --transition-variable: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: var(--WHITE);
    color: var(--SLATE);
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    display: block;
}

.list {
    font-style: normal;
    color: var(--SLATE);
    list-style: none;
}

.link {
    text-decoration: none;
}

.link-dark {
    text-decoration: none;
    color: var(--NAVY-BLUE);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ================================ MOBILE ================================== */
@media screen and (max-width: 767px) {
    .body {
        overflow: hidden;
    }

    .container {
        width: 428px;
        margin: 0 auto;
        padding: 0 15px;
    }

    /*==============================STUDIO===============================*/
    /*----------------------HEADER-----------------------*/
    
    /*------HAMBURGER-------*/
    .button-hamburger {
        border: none;
        background-color: var(--WHITE);
    }

    /* stylizacja przycisku który otwiera menu */
    .menu-hamburger {
        display: flex;
        margin-top: 24px;
        margin-right: 16px;
        margin-bottom: 24px;
    }

    .open-burger {
        min-width: 32px;
        padding: 0;
        margin: 0;
    }
    /* całość wysuwanego menu*/
    .menu-container {
        overflow-y: auto;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 32px;
        background-color: var(--WHITE);
        z-index: 999;
        transform: translateY(100%);
        transition: transform 250ms ease-in-out;
    }

    /* przy otwieraniu menu wysuwa się ono od dołu */
    .menu-container.is-open {
        transform: translateY(0);
    }

    /* kontener definiujący obszar roboczy menu */
    .hamburger-div {
        margin: auto;
        max-width: 428px;
    }

    /* display: flex; jest po to aby przycisk mógłbyć dowolnie pozycjonowany */
    .hamburger-button-container {
        display: flex;
    }

    
    .close-button {
        /* wyciągnięty z przepływu strony */
        position: absolute; 
        /* i umieszczony 24px od góry i od prawej strony */
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--CORNFLOWER);
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms var(--transition-variable),
        border 250ms var(--transition-variable);
    }

    /* przy najechaniu i sfocusowaniu na przycisk zmienia się jego stylowanie */
    .close-button:hover,
    .close-button:focus {
        background-color: var(--OCEAN);
        border: none;
    }

    /* przy najechaniu i sfocusowaniu na przysisk zmienia się stylowanie svg */
    .close-button:hover > .hamburger-close-svg,
    .close-button:focus > .hamburger-close-svg {
        fill: var(--WHITE);
    }

    .hamburger-close-svg {
        fill: var(--NAVY-BLUE);
        width: 8px;
        height: 8px;
    }

    .hamburger-navigation {
        margin:
        padding-left: 40px; 
        padding-top: 80px;
    }

    .hamburger-nav-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .hamburger-nav-link {
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        color: var(--NAVY-BLUE);
        transition: color 250ms var(--transition-variable);
    }

    .hamburger-nav-link:hover,
    .hamburger-nav-link:focus {
        color: var(--OCEAN);
    }

    .hamburger-address {
        padding-top: 284px;
    }

    .hamburger-address-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    .hamburger-phone {
        color: var(--IRIS);
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        text-decoration: none;
        max-width: 353px;
    }

    .hamburger-mail {
        color: var(--SLATE);
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
    }

    .hamburger-social-media-list {
        display: flex;
        gap: 56px;
        margin-top: 48px;
        margin-bottom: 40px;
    }

    .hamburger-social-media-li {
        height: 40px;
        width: 40px;
    }

    .hamburger-social-media-link {
        width: 100%;
        height: 100%;
        background-color: var(--IRIS);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms var(--transition-variable);
    }
    
    .hamburger-social-media-link:hover,
    .hamburger-social-media-link:focus {
        background-color: var(--OCEAN);
    }

    .hamburger-svg {
        fill: var(--CLOUD);
        padding: 0;
    }

    /* -------TOP-LINE--------*/    
    .header {
        border-bottom: 1px solid var(--CORNFLOWER);
        height: 72px;
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    }

    .header-container {
        display: flex;
        align-items: center;
    }

    .logo {
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-decoration: none;
        color: var(--IRIS);
        text-transform: uppercase;
        margin-top: 25.5px;
    }

    .studio {
        color: var(--NAVY-BLUE)
    }

    .list-navigation a {
        display: none;
    }

    .address-list a {
        display: none;
    }

    .menu-hamburger {
        margin-left: 249px;
    }

    /*-------------------FIRST-SECTION--------------------*/
    .first-section {
        display: flex;
        max-width: 428px;
        margin: 0 auto;
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient( rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),  url('../images/hero-image.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        align-items: center;
        justify-content: center;
    }
    
    .first-section h1 {
        align-items: center;
        justify-content: center;
        padding-left: 39px;
        color: var(--WHITE);
        justify-content: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        padding-bottom: 72px;
    }

    .order-service {
        display: block;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: var(--IRIS);
        color: var(--WHITE);
        cursor: pointer;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        margin-left: 113px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .order-service:hover {
        background-color: var(--OCEAN);
    }
    
    .order-service:focus {
        background-color: var(--OCEAN);
    }
    /*------------MODAL-----------*/
    /* przyciemnione tło */
    .backdrop {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--NAVY-BLUE-MODAL);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* modal */
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 392px;
        min-height: 584px;
        background-color: var(--DAIRY);
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 16px 24px;
    }

    /* przycisk zamykania */
    .close-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        background-color: var(--CORNFLOWER);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        cursor: pointer;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }

    .close-svg {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .close-btn:hover {
        fill: var(--WHITE);
        background-color: var(--OCEAN);
        border: none;
    }
    
    .close-btn:focus {
        fill: var(--WHITE);
        background-color: var(--OCEAN);
        border: none;
    }

    /* ukrycie modala na stonie przed kliknięciem przycisku */
    .is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    /*---FORMULARZ---*/
    .form {
        display: block;
        margin-bottom: 8px;
        position: relative; 
    }

    .label {
        color: var(--LIGHT-SLATE);
        font-family: ("Roboto", sans-serif);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.48px;
        display: block;
        margin-bottom: 4px;
    }

    .modal-heading { 
        color: var(--NAVY-BLUE);
        text-align: center;
        font-family: ("Roboto", sans-serif);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        margin-bottom: 16px;
    }
    .modal-input {
        border: none;
        background-color: transparent;
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border: 1px solid var(--NAVY-BLUE-MODAL);
        padding-left: 38px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }

    .modal-input:focus {
        border-color: var(--IRIS);
    }

    .modal-input:focus + .modal-svg {
        fill: var(--IRIS);
    }

    .input-container {
        position: relative;
    }

    .modal-svg {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .textarea {
        border-radius: 4px;
        border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
        width: 360px;
        min-height: 120px;
        resize: none;
        padding-left: 16px;
        padding-top: 8px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.48px;
        color: var(--NAVY-BLUE-MODAL);
        background-color: transparent;
        padding: 8px 16px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        outline: transparent;
    }

    .textarea:focus {
        border-color: var(--IRIS);
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .modal-button {
        border-radius: 4px;
        background: var(--IRIS);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: var(--WHITE);
        text-align: center;
        font-family: ("Roboto", sans-serif);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.64px;
        width: 169px;
        height: 56px;
        border: none;
        margin: 24px;
    }
    
    .modal-svg {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .privacy-policy {
        display: inline;
        font-family: ("Roboto", sans-serif);
        margin-bottom: 24px;
    }
    
    .form-text-area {
        margin-bottom: 16px;
    }
    
    .privacy-label {
        color: var(--LIGHT-SLATE);
        font-family: ("Roboto", sans-serif);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.48px;
        display: block;
    }
    
    .privacy-link {
        color: var(--IRIS);
        font-family: ("Roboto", sans-serif);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.16;
        letter-spacing: 0.48px;
        text-decoration: underline;
    }
    
    .box-svg {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        margin-right: 8px;
        padding: 0;
    }
    
    .box-policy:checked + .privacy-label .box-svg {
        border: none;
        background-color: var(--OCEAN);
        fill: var(--CLOUD);
    }
    
    .modal-button {
        display: block;
        min-width: 169px;
        height: 56px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--WHITE);
        cursor: pointer;
        background-color: var(--IRIS);
        border: none;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-top: 24px;
        margin-left: 95px;
    }

    /*----------------SECOND-SECTION----------------*/
    .second-section {
        padding: 96px 0;
    }

    .about-us-list {
        display: block;
    }


    .second-section-headings {
        justify-content: center;
        align-items: center;
        color: var(--NAVY-BLUE);
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        padding-bottom: 8px;
        align-self: stretch;
    }

    .list-paragraph {
        color: var(--SLATE, #434455);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        align-self: stretch;
        justify-content: center;
        align-items: center;
        padding-bottom: 72px;
    }

    /*--------------THIRD-SECTION--------------*/
    .third-section {
        display: none;
    }

    /*----------------FOURTH-SECTION------------------*/
    .fourth-section {
        background-color: var(--CLOUD);
        padding: 96px 0;
    }

    .fourth-section-heading {
        color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .fourth-section-list {
        display: block;
    }

    .fourth-section-list-item {
        width: 264px;
        background: var(--WHITE);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        margin-left: 69px;
        margin-top: 72px;
    }
    
    .person {
        padding: 32px 0;
    }
    
    .fourth-section-headings {
        color: var(--NAVY-BLUE);
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
        margin-bottom: 8px;
    }
    
    .fourth-section-paragraph {
        color: var(--SLATE);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
        text-align: center;
        gap: 24px;
        margin-bottom: 8px;
    }
    
    .social-media-list {
        display: flex;
        justify-content: center;
        gap: 24px;
    }
    
    .social-media-list-item {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--IRIS);
        gap: 24px;
    }
    
    .social-media-link {
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    }

    .social-media-link:hover,
    .social-media-link:focus {
        background-color: var(--OCEAN);
    }
    
    .social-media-icon {
        width: 100%;
        height: 100%;
        fill: var(--CLOUD);
        padding: 8px;
        cursor: pointer;
    }
    
    /*----------------FIFTH-SECTION------------------*/
    .fifth-section {
        padding: 96px 0;
    }

    .fifth-section-heading {
        color: var(--NAVY-BLUE);
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        margin-bottom: 72px;
    }
    
    .fifth-section-list {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        flex-basis: calc((100%-16px)/2);
    }
    
    .fifth-section-list-item {
        width: 190px;
        height: 88px;
        cursor: pointer;
        margin-bottom: 72px;
    }

    .fifth-section-list-item:hover,
    .fifth-section-list-item:focus {
        color: var(--OCEAN);
        border-color: var(--OCEAN);
    }

    .fifth-section-link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--LIGHT-SLATE);
        border-radius: 4px;
        color: var(--LIGHT-SLATE);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .fifth-section-link:hover,
    .fifth-section-link:focus {
        color: var(--OCEAN);
        border-color: var(--OCEAN);
    }

    .customer {
        fill: currentColor;
    }

    /*---------------FOOTER----------------*/
    .footer {
        background-color: var(--NAVY-BLUE);
        color: var(--CLOUD);
        padding: 97.5px 0;
    }

    .footer-container {
        display: block;
    }

    .footer-logo {
        align-items: center;
        justify-content: center;
        color: var(--IRIS);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        margin-bottom: 17.5px;
        display: inline-block;
        margin-bottom: 16px;
        margin-top: 0;
        margin-left: 140.2px;
    }
    
    .footer .studio {
        color: var(--CLOUD);
    }

    .first-part-footer-paragraph {
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
        max-width: 264px;
        margin-left: 65px;
    }

    .second-part-footer {
        align-items: center;
    }

    .second-part-footer-paragraph {
        color: var(--WHITE);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        margin-bottom: 16px;
        margin-top: 72px;
        margin-left: 151px;
    }
    
    .footer-social-media-list {
        display: flex;
        justify-content: center;
        gap: 16px;
    }
    
    .footer-social-media-list-item {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--IRIS);
        gap: 24px;
    }
    
    .footer-social-media-list-item:hover,
    .footer-social-media-list-item:focus {
        background-color: var(--GREEN);
    }
    
    .footer-social-media {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: var(--IRIS);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .footer-social-media:hover,
    .footer-social-media:focus {
        background-color: var(--GREEN);
    }
    
    /*------FORM------*/
    .subscribe-paragraph {
        color: var(--WHITE);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        margin-bottom: 16px;
        margin-top: 72px;
        margin-left: 161px;
    }

    .newsletter-form {

        gap: 24px;
    }

    .newsletter-label {
        gap: 24px;
    }

    .newsletter-input {
        border-radius: 4px;
        border: 1px solid var(--WHITE);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        background-color: transparent;
        color: var(--WHITE);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.48px;
        padding-left: 16px;
        width: 398px;
        height: 40px;
        gap: 24px;
    }

    .newsletter-button {
        display: inline-flex;
        padding: 8px 24px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        border-radius: 4px;
        background: var(--IRIS);
        border: none;
        color: var(--WHITE, #FFF);
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.64px;
        min-width: 165px;
        height: 40px;
        cursor: pointer; 
        margin-top: 16px;
        margin-left: 116px;
    }

    .newsletter-svg {
        margin-left: 16px;
    }

    /*========================PORTFOLIO===================*/


    }
  /* ============================= TABLET ============================= */
@media screen and (min-width: 768px) {
    /* cały kod */
}
  /* ========================= NOT DESKTOP ====================== */
@media screen and (max-width: 1157px) {
    .about-us-svg {
        display: none;
    }
}
  /* ============================== DESKTOP =========================== */
@media screen and (min-width: 1158px) {
    /* co jest potrzebne dla desktopu */
}